In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('indian_liver_patient.csv')
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [3]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [4]:
df['Albumin_and_Globulin_Ratio'].fillna(df['Albumin_and_Globulin_Ratio'].mean(), inplace=True)

In [5]:
df = pd.concat([df, pd.get_dummies(df['Gender'], prefix = 'Gender')], axis=1)
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Gender_Female,Gender_Male
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1,1,0
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1,0,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1,0,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1,0,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1,0,1

In [6]:
X = df.drop(['Gender', 'Dataset'], axis=1)
y = df['Dataset']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

Logistic Regression

In [9]:


logreg = make_pipeline(StandardScaler(), LogisticRegression())
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

print('Classification Report: \n', classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           1       0.75      0.93      0.83       103
           2       0.61      0.26      0.36        43

    accuracy                           0.73       146
   macro avg       0.68      0.59      0.60       146
weighted avg       0.71      0.73      0.69       146

Logistic Regression with L1 regularization

In [10]:

logregl1 = make_pipeline(StandardScaler(), LogisticRegression(penalty='l1', solver='liblinear'))
logregl1.fit(X_train, y_train)

y_predl1 = logregl1.predict(X_test)

print('Classification Report: \n', classification_report(y_test, y_predl1))

Classification Report:
               precision    recall  f1-score   support

           1       0.75      0.93      0.83       103
           2       0.61      0.26      0.36        43

    accuracy                           0.73       146
   macro avg       0.68      0.59      0.60       146
weighted avg       0.71      0.73      0.69       146

Decision Tree

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

dtree = make_pipeline(StandardScaler(), DecisionTreeClassifier(criterion='entropy', max_depth=7))
dtree.fit(X_train, y_train)

y_pred = dtree.predict(X_test)

print('Classification Report: \n', classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           1       0.72      0.83      0.77       103
           2       0.36      0.23      0.28        43

    accuracy                           0.65       146
   macro avg       0.54      0.53      0.53       146
weighted avg       0.61      0.65      0.63       146

Random Forest

In [12]:


random_forest = RandomForestClassifier(n_estimators=500)
random_forest.fit(X_train, y_train)

rf_predicted = random_forest.predict(X_test)

print('Classification Report: \n', classification_report(y_test,rf_predicted))

Classification Report:
               precision    recall  f1-score   support

           1       0.74      0.87      0.80       103
           2       0.46      0.26      0.33        43

    accuracy                           0.69       146
   macro avg       0.60      0.56      0.56       146
weighted avg       0.66      0.69      0.66       146

KNN

In [13]:
Knn=10
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
mean_acc = np.zeros((Knn-1))
std_acc = np.zeros((Knn-1))
confusionMx = [];
for n in range(1,Knn):
    neigh = KNeighborsClassifier(n_neighbors = n).fit(X_train, y_train)
    knn_hat=neigh.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, knn_hat)
    std_acc[n-1]=np.std(knn_hat==y_test)/np.sqrt(knn_hat.shape[0])
mean_acc

array([0.61643836, 0.69178082, 0.64383562, 0.69178082, 0.67123288,
       0.68493151, 0.67123288, 0.68493151, 0.67808219])

In [14]:
print( "The best accuracy was with", mean_acc.max(),"with k =",mean_acc.argmax()+1)

The best accuracy was with 0.6917808219178082 with k = 2

In [15]:
from sklearn.neighbors import KNeighborsClassifier
k_nearest = KNeighborsClassifier(n_neighbors = 6).fit(X_train,y_train)

y_pred = k_nearest.predict(X_test)

print('Classification Report: \n', classification_report(y_test,rf_predicted))

Classification Report:
               precision    recall  f1-score   support

           1       0.74      0.87      0.80       103
           2       0.46      0.26      0.33        43

    accuracy                           0.69       146
   macro avg       0.60      0.56      0.56       146
weighted avg       0.66      0.69      0.66       146